@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.container {
    -webkit-text-size-adjust: none;
    display: block;
    margin: 0 auto;
    margin-left: -15px;
    transform: translateZ(0);
    position: relative;
    height: 80vh;
}

.editor-backdrop {
    background-color: #f6f6f6;
    border: 1px solid #dadada;
    box-sizing: border-box;
    color: transparent;
    flex: 1;
    font-family: "Source Code Pro", monospace !important;
    font-size: 12px !important;
    height: 80vh;
    margin-top: -10px;
    overflow: auto;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    resize: none;
    width: 100%;
    z-index: 1;
}

#editor {
    background-color: transparent;
    border: 1px solid #dadada;
    box-sizing: border-box; /* Include padding and border in the element's total height */
    color: #2a2a2a !important;
    display: block;
    flex: 1;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    height: 80vh; /* 100% of the viewport height */
    margin-top: -10px;
    padding: 5px;
    position: absolute;
    resize: none;
    width: 100%;
    z-index: 2;
}

.highlights {
    /*color: transparent;*/
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.highlight-header {
    background-color: #92dcff;
    border-radius: 3px;
}

.highlight-infobox {
    background-color: #88ffaf;
    border-radius: 3px;
}

.highlight-blockquote {
    background-color: #e5d3b1;
    border-radius: 3px;
}

.highlight-emphasis {
    background-color: #ffc99c;
    border-radius: 3px;
}

.highlight-strong {
    background-color: #7bdcce;
    border-radius: 3px;
}

.highlight-footnote {
    background-color: #ffd134;
    border-radius: 3px;
}

.highlight-double {
    background-color: #a2e7b2 !important;
    border-radius: 3px;
}

.highlight-strikethrough {
    background-color: #e5b1b1;
    border-radius: 3px;
}

.highlight-code {
    background-color: #ccaaff;
    border-radius: 3px;
}

.highlight-line {
    background-color: #e39b9b;
    border-radius: 3px;
}

.highlight-list {
    background-color: #e8c3d0;
    border-radius: 3px;
}

.highlight-link {
    background-color: #8cb9ff;
    border-radius: 3px;
}

.highlight-table {
    background-color: #ffafaf;
    border-radius: 3px;
}


mark {
  padding: 0;
    border-radius: 3px;
    color: transparent !important;
}

textarea:focus, button:focus {
    box-shadow: none;
    outline: none;
}