<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
		<title>The Riveon Wiki</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
		<link href="static/css/wiki.css" rel="stylesheet">
	</head>

	<body>
		<div class="content-container pb-3">
			<header class="py-3">
                <div class="row justify-content-between align-items-center">
                    <div class="wiki-logo-wrapper">
                        <a class="wiki-logo" href="/">The Riveon Wiki</a>
                    </div>
{#                    <div class="col-md-6 justify-content-end d-flex align-items-center">#}
                    <div class="logo-info-flex d-flex align-items-center">
                        <p class="sign-in no-margin text-secondary">Signed in as <span class="text-primary">{{ first_name }}</span></p>
                        <form action="/sign-out" method="GET" class="logout-wrapper">
                            <button type="submit" class="logout-btn">Log Out</button>
                        </form>
                    </div>
                </div>
			</header>
		</div>

		<main role="main" class="content-container pb-3">
			{% block content %} {% endblock %}
		</main>
	</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertTitle" style="line-height: 1.5; font-family: -apple-system, sans-serif; font-size: 1.25rem; font-weight: 500; display: block; margin: 0;">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-family: -apple-system, sans-serif;" id="alertMessage"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#            <button type="button" class="btn btn-primary">Save changes</button>#}
          </div>
        </div>
      </div>
    </div>

    <script>
        function showAlert() {
            // Set the message in the modal
            document.getElementById("alertMessage").innerText = '{{ message }}';
            document.getElementById("alertTitle").innerText = '{{ title }}';

            // Use Bootstrap's modal method to show the modal
            $('#alertModal').modal('show');
        }

        if ('{{ message }}' !== '') {
            showAlert()
        }
    </script>

</html>