<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Editor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="static/css/create-page.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="card">
        <form action="/create-page" method="POST" class="card-body text-center">
            <h5 class="card-title" style="color: #000000">Enter a Page Title</h5>
            {% if message != '' %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
            <label for="textInput" class="sr-only">Page Title</label>
            <input type="text" id="textInput" name="pageTitle" minlength="5" class="form-control mb-2 mt-3 outline-secondary" placeholder="A Very Cool Page Title..." required>
            <button type="submit" class="btn btn-sm mt-2 btn-outline-dark">Create New Page</button>
        </form>
    </div>
</body>
</html>
