{% extends 'base.html' %}

{% block content %}

<script src="static/js/test.js"></script>
<link href="static/css/editor.css" rel="stylesheet">
{#<link href="static/css/wiki.css" rel="stylesheet">#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="container">
  <div class="editor-backdrop">
    <div class="highlights"></div>
  </div>
  <textarea id="editor">This Is A Test I Like Nachos And Cheese</textarea>
</div>


<button>Toggle Perspective</button>
<p>This is <mark title="Highlight Tooltip">highlighted</mark> text.</p>

<script>
  var $container = $('.container');
  var $backdrop = $('.editor-backdrop');
  var $highlights = $('.highlights');
  var $textarea = $('textarea');
  var $toggle = $('button');

  var ua = window.navigator.userAgent.toLowerCase();
  var isIE = !!ua.match(/msie|trident\/7|edge/);
  var isWinPhone = ua.indexOf('windows phone') !== -1;
  var isIOS = !isWinPhone && !!ua.match(/ipad|iphone|ipod/);

function applyHighlights(text) {
  var lines = text.split('\n');

  for (var i = 0; i < lines.length; i++) {
    // Check if the line starts with '#'
    if (lines[i].trim().startsWith('#')) {
      lines[i] = '<mark title="test">' + lines[i] + '</mark>';
    }
  }

  text = lines.join('\n');

  if (isIE) {
    text = text.replace(/ /g, ' <wbr>');
  }

  return text;
}

  function updateHighlights() {
      var text = $textarea.val();
      var highlightedText = applyHighlights(text);
      $highlights.html(highlightedText);
    }

  function handleInput() {
    updateHighlights();
  }

  function handleScroll() {
    var scrollTop = $textarea.scrollTop();
    $backdrop.scrollTop(scrollTop);

    var scrollLeft = $textarea.scrollLeft();
    $backdrop.scrollLeft(scrollLeft);
  }

  function fixIOS() {
    $highlights.css({
      'padding-left': '+=3px',
      'padding-right': '+=3px'
    });
  }

  function bindEvents() {
    $textarea.on({
      'input': handleInput,
      'scroll': handleScroll
    });

    $toggle.on('click', function() {
      $container.toggleClass('perspective');
    });
  }

  if (isIOS) {
    fixIOS();
  }

  bindEvents();
  updateHighlights(); // Initial update
</script>

{% endblock %}
